:root {
    /* --orange: #fe5f55;
    --blue-100: #BDD5EA;
    --blue-500: #577399;
    --gray: #495867; */
    --white: #f7f7ff;

    --dark-blue: #23395B;
}

body {
    background-color: var(--dark-blue);
}