.todos {
    background-color: white;
    padding: 20px;
    margin: 30px auto;
    border-radius: 12px;
    max-width: 85%;
    background-color: var(--teal-a-200);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    
    @media (min-width: 576px) {
        max-width: 70%;
    }
    
    @media (min-width: 768px) {
        max-width: 60%;
    }
    
    
    @media (min-width: 992px) {
        max-width: 50%;
    }

    @media (min-width: 1200px) {
        max-width: 700px;
    }

}

.todo__title {
    font-family: 'Montserrat', sans-serif;
    color: var(--teal-900);
}