.todo-item {
    display: flex;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    background-color: var(--teal-a-100);
}

.todo-item__title {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    outline: none;
}

.todo-item__description {
    resize: none;
    outline: none;
    font-weight: 400;
}

.todo-item__inputs {
    flex: 1;
}

.todo-item__title,
.todo-item__description {
    border: none;
    color: var(--teal-900);
    background-color: var(--teal-a-100);
}

.todo-item__title--complete,
.todo-item__description--complete {
    text-decoration: line-through;
    color: var(--teal-200);
}

.todo-item__edit,
.todo-item__delete,
.todo-item__complete,
.todo-item__flag {
    background-color: white;
    border: none;
    height: 26px;
    width: 26px;
    background-color: var(--teal-a-100);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    & path {
        fill: var(--teal-900);
    }

    &:hover {
        cursor: pointer;
        background-color: var(--teal-300);
    }
}

.todo-item__edit {}

.todo-item__delete {}

.todo-item__complete {}

.todo-item__flag {}